.App {
    text-align: center;
    color: black;
    font-family: "Times New Roman";
    border-bottom: 2px solid black;
    font-size: 17px;
    justify-content: center;
 }
.React{
    font-weight: bold;
    font-size: 20px;

}
